anyio==3.6.2
appdirs==1.4.4
asgiref==3.6.0
backports.cached-property==1.0.2
black==23.3.0
boto3==1.26.122
botocore==1.29.122
btcpay-python==1.3.0
captcha==0.4
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
distlib==0.3.6
Django==4.2
django-admin-display==1.3.0
django-cors-headers==3.14.0
django-extensions==3.2.1
django-filter==23.1
django-js-asset==2.0.0
django-mptt==0.14.0
django-picklefield==3.1
django-storages==1.13.2
ecdsa==0.18.0
filelock==3.12.0
graphql-core==3.2.3
gunicorn==20.1.0
h11==0.14.0
idna==3.4
install==1.3.5
jmespath==1.0.1
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
Pillow==9.5.0
pip==23.1.2
pipenv==2023.4.20
platformdirs==3.5.0
psycopg2-binary==2.9.6
Pygments==2.15.1
PyJWT==2.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
requests==2.29.0
s3transfer==0.6.0
setuptools==67.7.2
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
starlette==0.26.1
strawberry-django-jwt==0.2.3
strawberry-graphql==0.174.0
strawberry-graphql-django==0.9.4
tomli==2.0.1
typed-ast==1.5.4
typing_extensions==4.5.0
urllib3==1.26.15
uvicorn==0.22.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
wheel==0.38.4
