anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.2
backports.cached-property==1.0.2
black==22.6.0
boto3==1.26.99
botocore==1.29.99
btcpay-python==1.3.0
captcha==0.4
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
Django==4.1
django-admin-display==1.3.0
django-cors-headers==3.13.0
django-filter==22.1
django-js-asset==2.0.0
django-mptt==0.13.4
django-picklefield==3.1
django-storages==1.13.2
ecdsa==0.18.0
graphql-core==3.2.1
gunicorn==20.1.0
h11==0.13.0
idna==3.3
jmespath==1.0.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.10.3
Pillow==9.2.0
pip==23.0.1
platformdirs==2.5.2
psycopg2-binary==2.9.3
Pygments==2.12.0
PyJWT==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.5
requests==2.28.1
s3transfer==0.6.0
setuptools==65.6.3
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.3
starlette==0.20.4
strawberry-django-jwt==0.2.2
strawberry-graphql==0.161.1
strawberry-graphql-django==0.4.0
tomli==2.0.1
typed-ast==1.5.4
typing_extensions==4.5.0
urllib3==1.26.12
uvicorn==0.18.2
wheel==0.38.4
